<div>
  <mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/">
      <span>Reactive Form Form Array</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/multiselect-dropdown"> Multiselect-Dropdown</a>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="SelectAll--&&-UnSelectAll-checkbox">
    <app-ng-checked-all></app-ng-checked-all>
  </mat-tab>
  <mat-tab label="Drag and Drop">
    <div cdkDropListGroup class="dropList">
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>

    <div class="example-boundary">
      <div
        class="example-b"
        cdkDragLockAxis="y"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      >
        I can only be dragged up/down
      </div>
      <div
        class="example-b"
        cdkDragLockAxis="x"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      >
        I can only be dragged left/right
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab label="GridView and List View">

  </mat-tab> -->
  <!-- <mat-tab label="Chart and Graph">
    <div class="row">
      <div class="col-sm-6">
        <canvas baseChart class="chart" [data]="barChartData"> </canvas>
      </div>
    </div>
  </mat-tab> -->
</mat-tab-group>
